body{
  font-family: 'Anton', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Noto Sans NKo', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

header{
  background-color: black;
  padding: 20px;
}

nav{
  position: absolute;
  top: 250px;
  right: 0px;
}
nav li{
  display: inline;
  margin: 0 0 0 15px;
}

nav a{
  text-transform: uppercase ;
  color: #ff0000;
  font-weight: bold;
  font-size: 23px;
  text-decoration: none;
}
.container{
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.banner{
  width: 100%;
  padding-bottom: 20px;
}

.principal{
  margin: 0px 0px 2em ;
  text-align: center;
}

.titulo-principal{
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
  padding-bottom: 14px;
}

.Restaura{
  width: 300px;
  float: left;
  margin: 0 20px 0 20px;
}

.mapa{
  padding: 3em 0 ;
  padding-bottom: 20px;
  margin-bottom: 20px;

}

.principal p{
  margin: 0 0 1em;
}

.diferenciais{
  width: 640px;
  margin: 20px auto;
  padding: 3em 0 ;
  
}

.lista-diferenciais{
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens{
  line-height: 2em;

}

.itens:first-child {
  font-style: italic;
  font-weight: bold;
}

.itens:last-child{
  font-style: oblique;
  font-weight: bold;
}

.itens:nth-last-child(2n){
  font-size: 20px;

}

.itens:first-letter{
  text-transform: uppercase;

}
.itens:before{
  content: "✪";
}
  .img-diferenciais{
  width: 60%;
}

p{
  margin: 0px 0px 2em ;
  text-align: center;
}

p:first-line{
  font-style: italic;
  font-weight: bold;
}

p:before{
  content: "*";
}

p:after{
  content: "*"
}