header{
  background-color: black;
  padding: 20px;
}

.container{
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav{
  position: absolute;
  top: 250px;
  right: 0px;
}
nav li{
  display: inline;
  margin: 0 0 0 15px;
}

nav a{
  text-transform: uppercase ;
  color: #ff0000;
  font-weight: bold;
  font-size: 23px;
  text-decoration: none;
}

.banner{
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;

}


.principal p{
  margin: 0 0 1em;
}

.Restaura{
  width: 85px;
  float: left;
  margin: 0 20px 0 20px;
}

.img-diferenciais{
  width: 60%;
}